body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.emoji-picker-react {
  position: absolute!important;
  bottom: 70px;
}
.test {
  position: absolute;
  top: 50%;
  left: 50%;
  color: red;
  z-index: 999999;
  background: gold;
  width: 50px;
  height: 50px;
}